<a href="https://colab.research.google.com/github/brijeshksingh/AIML_Colab_repo/blob/main/Column_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [39]:
df = pd.read_csv('/content/sample_data/covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)
X_train,X_test,y_train,y_test

(    age  gender  fever   cough       city
 68   54  Female  104.0  Strong    Kolkata
 76   80    Male  100.0    Mild  Bangalore
 94   79    Male    NaN  Strong    Kolkata
 42   27    Male  100.0    Mild      Delhi
 31   83    Male  103.0    Mild    Kolkata
 ..  ...     ...    ...     ...        ...
 34   74    Male  102.0    Mild     Mumbai
 60   24  Female  102.0  Strong  Bangalore
 29   34  Female    NaN  Strong     Mumbai
 40   49  Female  102.0    Mild      Delhi
 81   65    Male   99.0    Mild      Delhi

 [80 rows x 5 columns],
     age  gender  fever   cough       city
 63   10    Male  100.0    Mild  Bangalore
 22   71  Female   98.0  Strong    Kolkata
 48   66    Male   99.0  Strong  Bangalore
 41   82    Male    NaN    Mild    Kolkata
 3    31  Female   98.0    Mild    Kolkata
 13   64    Male  102.0    Mild  Bangalore
 27   33  Female  102.0  Strong      Delhi
 23   80  Female   98.0    Mild      Delhi
 38   49  Female  101.0    Mild      Delhi
 75    5    Male  102.0    Mild    Kolkata
 26   19  Female  100.0    Mild    Kolkata
 86   25    Male  104.0    Mild  Bangalore
 65   69  Female  102.0    Mild  Bangalore
 21   73    Male   98.0    Mild  Bangalore
 61   81  Female   98.0  Strong     Mumbai
 16   69  Female  103.0    Mild    Kolkata
 66   51    Male  104.0    Mild    Kolkata
 67   65    Male   99.0    Mild  Bangalore
 49   44    Male  104.0    Mild     Mumbai
 88    5  Female  100.0    Mild    Kolkata,
 68     No
 76    Yes
 94    Yes
 42    Yes
 31     No
      ...
 34    Yes
 60    Yes
 29    Yes
 40     No
 81     No
 Name: has_covid, Length: 80, dtype: object,
 63     No
 22    Yes
 48     No
 41    Yes
 3      No
 13    Yes
 27     No
 23    Yes
 38    Yes
 75    Yes
 26    Yes
 86    Yes
 65     No
 21    Yes
 61     No
 16    Yes
 66     No
 67     No
 49     No
 88     No
 Name: has_covid, dtype: object)

In [10]:
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])
X_test_fever = si.fit_transform(X_test[['fever']])
X_train_fever.shape

(80, 1)

In [12]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])
X_test_cough = oe.fit_transform(X_test[['cough']])
X_train_cough.shape

(80, 1)

In [14]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])
X_train_gender_city.shape

(80, 4)

In [15]:
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values
X_train_age.shape

(80, 1)

In [16]:
X_train_trasformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
X_test_trasformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)
X_train_trasformed.shape

(80, 7)

In [41]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[('tnf1', SimpleImputer(),['fever']),
 ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']),
  ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender','city'])],
                                remainder='passthrough')

#

In [46]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [48]:
transformer.fit_transform(X_train).shape

(80, 7)

In [49]:
transformer.fit_transform(X_test).shape

(20, 7)