In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv('/content/sample_data/cars.csv')
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [32]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [33]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)
X_train,X_test,y_train,y_test

(         brand  km_driven    fuel         owner
 5571   Hyundai      35000  Diesel   First Owner
 2038      Jeep      60000  Diesel   First Owner
 2957   Hyundai      25000  Petrol   First Owner
 7618  Mahindra     130000  Diesel  Second Owner
 6684   Hyundai     155000  Diesel   First Owner
 ...        ...        ...     ...           ...
 3606      Ford      35000  Diesel   First Owner
 5704    Maruti     120000  Petrol   First Owner
 6637      Tata      15000  Petrol   First Owner
 2575    Maruti      32500  Diesel  Second Owner
 7336     Isuzu     121000  Diesel   First Owner

 [6502 rows x 4 columns],
          brand  km_driven    fuel         owner
 606    Hyundai      80000  Petrol   First Owner
 7575  Mahindra      70000  Diesel  Second Owner
 7705    Toyota      68089  Petrol   First Owner
 4305   Hyundai      70000  Petrol  Second Owner
 2685  Mahindra      97000  Diesel  Second Owner
 ...        ...        ...     ...           ...
 1537    Maruti      50000  Diesel   First Owner
 6153    Maruti     111000  Petrol   First Owner
 7954    Maruti      40000  Petrol   First Owner
 2310   Hyundai      80000  Petrol  Second Owner
 712    Hyundai      50000  Diesel   First Owner

 [1626 rows x 4 columns],
 5571    1150000
 2038    1689999
 2957     580000
 7618     150000
 6684     320000
          ...
 3606     620000
 5704     335000
 6637     450000
 2575     651000
 7336    1160000
 Name: selling_price, Length: 6502, dtype: int64,
 606      200000
 7575     750000
 7705    2000000
 4305      52000
 2685     509999
          ...
 1537     650000
 6153     220000
 7954     320000
 2310     150000
 712      715000
 Name: selling_price, Length: 1626, dtype: int64)

In [35]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first',dtype=np.int32)

In [36]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])
X_train_new

<Compressed Sparse Row sparse matrix of dtype 'int32'
	with 8746 stored elements and shape (6502, 7)>

In [37]:
x_test_new = ohe.transform(X_test[['fuel','owner']])
x_test_new

<Compressed Sparse Row sparse matrix of dtype 'int32'
	with 2164 stored elements and shape (1626, 7)>

In [38]:
X_train_new.shape

(6502, 7)

In [40]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [41]:
counts = df['brand'].value_counts()
counts

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [43]:
df['brand'].nunique()
threshold =  100

In [44]:
repl = counts[counts <= threshold].index
repl

Index(['Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz', 'Fiat', 'Audi',
       'Lexus', 'Jeep', 'Mitsubishi', 'Land', 'Force', 'Isuzu', 'Ambassador',
       'Kia', 'MG', 'Daewoo', 'Ashok', 'Opel', 'Peugeot'],
      dtype='object', name='brand')

In [47]:
pd.get_dummies(df['brand'].replace(repl,'uncommon')).head()

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False